---
---

@import "{{ site.theme }}";

section {
  font-size: 16px;
}

.sidebar-toc {
  margin-bottom: 20px;
}

.sidebar-toc h4 {
  margin-bottom: 4px;
}

.sidebar-toc p {
  margin-bottom: 0px;
}

li {
  margin-bottom: 2px;
}
